{% extends 'base.html' %}
{% block content %}
<a href="javascript:history.back()" class="btn btn-primary btn-sm">Voltar</a>

<div class="container">

    <img src="{{ aluno.foto.url }}" alt="imagem de{{aluno.nome}}">

    <h3 class="mb-3">{{ aluno.nome }}</h3>
    <div class="infosPessoais border ">
        <h3>Informações Pessoais</h3>
        <div class="row">
            <div class="col-12">
                <p>Idade: {{aluno.idade}}</p>
                <p>CPF: {{aluno.cpf}}</p>
                <p>Email: {{aluno.email}}</p>
                <p>Contato: {{aluno.contato}}</p>
            </div>
        </div>
    </div>
    <div class="infosContatos border">
        <h3>Contatos</h3>
        <div class="row">
            <div class="col-12">
                <p>Email: {{aluno.email}}</p>
                <p>Contato: {{aluno.contato}}</p>
            </div>
        </div>
    </div>
    <div class="infosResidencia border ">
       <h3>Localidade</h3>
       <div class="col-12">
            <p>Endereço: {{aluno.endereço}}</p>
            <p>CEP: {{aluno.cep}}</p>
            

        </div>
    </div>
</div>

{% endblock %}