{% extends  'base.html' %}

{% block content %}
    {% if alunos %}
    <table class="table">
        <tr>
            <th>Ação</th>
            <th>nome</th>
            <th>email</th>
          
        </tr>
        
         
        <tr>
            {% for aluno in alunos %}
            <td>
                <a href="{% url 'aluno' id=aluno.id %}" class="btn btn-primary btn-sm">visualizar</a>
            </td>
            <td>{{ aluno.nome }}</td>
            <td>{{aluno.email}}</td>
            
            
        </tr>
        {% endfor %}


        
    </table>
    {% else %}
    <p>sem alunos para mostrar no momento</p>

    {% endif %}

    {% endblock %}


    
    
    



